.checkboxArea {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-bottom: 1%;
}

.checkboxArea > h4 {
  color: #BD3C6E;
  margin-right: 5px;
}

.checkboxArea > input {
  margin-right: 15px;
}
